.before-after {
  margin-top: -90px;
  margin-bottom: 20px;
  padding-top: 155px;
  padding-bottom: 210px;

  background: url("../img/bc/before-after-bc.png") no-repeat top center;
  background-size: cover;

  @media (max-width: $md) {
    padding-top: 90px;
    padding-bottom: 150px;
  }
}

.before-after__title {
  margin-bottom: 30px;
}

.before-after__subtitle {
  margin-bottom: 65px;
}
