.complex {
  height: auto;
  padding-top: 190px;
  padding-bottom: 75px;

  background: url("../img/bc/complex-bc.png") no-repeat top center;
  background-size: 100%;
}

.complex__title {
  margin-bottom: 40px;
}

.complex__subtitle {
  margin-bottom: 55px;
}

.complex__wrap {
  display: flex;
  margin-bottom: 95px;
}

.complex__wrap-img {
  width: 50%;
  margin-left: 30px;

  @media (max-width: $sm) {
    display: flex;
    justify-content: flex-end;
    margin-left: 0;

    & img {
      width: 150px;
      height: 160px;
    }
  }
}

.complex__desc {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 50%;
}

.complex__name {
  position: absolute;
  top: 15px;
  left: 170px;

  margin-bottom: 0;

  font-weight: 900;
  font-size: $fz-main;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-main;

  @media (max-width: $md) {
    font-size: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    z-index: -1;

    display: block;
    width: 145px;
    height: 2px;

    @media (max-width: $lg) {
      width: 85px;
    }

    @media (max-width: $md) {
      left: -80%;
    }

    @media (max-width: $sm) {
      width: 10px;
    }
  }

  &--1 {
    @media (max-width: $lg) {
      left: 85px;
    }

    @media (max-width: $sm) {
      top: 0;
      left: 10px;
    }

    &::after {
      left: -80%;

      background-color: $c-accent;

      @media (max-width: $lg) {
        left: -43%;
      }

      @media (max-width: $sm) {
        left: -10%;
      }
    }
  }

  &--2 {
    top: 90px;
    left: 135px;

    @media (max-width: $lg) {
      top: 60px;
      left: 55px;
    }

    @media (max-width: $md) {
      top: 55px;
      left: 65px;
    }

    @media (max-width: $sm) {
      top: 25px;
      left: 0;
    }

    &::after {
      left: -80%;

      background-color: #865cf1;

      @media (max-width: $lg) {
        left: -40%;
      }

      @media (max-width: $sm) {
        left: -11%;
      }
    }
  }

  &--3 {
    top: 165px;
    left: 100px;

    @media (max-width: $lg) {
      top: 110px;
      left: 20px;
    }

    @media (max-width: $md) {
      top: 95px;
      left: 40px;
    }

    @media (max-width: $sm) {
      top: 50px;
      left: -10px;
    }

    &::after {
      left: -105%;

      background-color: #6d6ff3;

      @media (max-width: $lg) {
        left: -55%;
      }

      @media (max-width: $md) {
        left: -105%;
      }

      @media (max-width: $sm) {
        left: -16%;
      }
    }
  }

  &--4 {
    top: 245px;
    left: 60px;

    @media (max-width: $lg) {
      top: 170px;
      left: 0;
    }

    @media (max-width: $md) {
      top: 135px;
      left: 15px;
    }

    @media (max-width: $sm) {
      top: 75px;
      left: -20px;
    }

    &::after {
      left: -125%;

      background-color: #888afc;

      @media (max-width: $lg) {
        left: -65%;
      }

      @media (max-width: $md) {
        left: -125%;
      }

      @media (max-width: $sm) {
        left: -22%;
      }
    }
  }

  &--5 {
    top: 320px;
    left: 25px;

    @media (max-width: $lg) {
      top: 220px;
      left: -20px;
    }

    @media (max-width: $md) {
      top: 175px;
      left: -10px;
    }

    @media (max-width: $sm) {
      top: 100px;
      left: -30px;
    }

    &::after {
      left: -111%;

      background-color: #a78ae0;

      @media (max-width: $lg) {
        left: -60%;
      }

      @media (max-width: $md) {
        left: -115%;
      }

      @media (max-width: $sm) {
        left: -22%;
      }
    }
  }

  &--6 {
    top: 390px;
    left: -10px;

    @media (max-width: $lg) {
      top: 275px;
      left: -40px;
    }

    @media (max-width: $md) {
      top: 210px;
    }

    @media (max-width: $sm) {
      top: 125px;
      left: -40px;
    }

    &::after {
      left: -104%;

      background-color: #a78ae0;

      @media (max-width: $lg) {
        left: -55%;
      }

      @media (max-width: $md) {
        left: -105%;
      }

      @media (max-width: $sm) {
        left: -23%;
      }
    }
  }

  &--7 {
    top: 460px;
    left: -40px;

    @media (max-width: $lg) {
      top: 320px;
      left: -55px;
    }

    @media (max-width: $md) {
      top: 240px;
    }

    @media (max-width: $sm) {
      top: 145px;
      left: -50px;
    }

    &::after {
      left: -101%;

      background-color: #cd9ff8;

      @media (max-width: $lg) {
        left: -55%;
      }

      @media (max-width: $md) {
        left: -65%;

        width: 40px;
      }

      @media (max-width: $sm) {
        left: -21%;
      }
    }
  }

  & span {
    font-size: $fz-secondary;
    color: $c-accent;

    @media (max-width: $md) {
      display: none;
    }
  }
}

.complex__title-2 {
  margin-bottom: 40px;

  font-weight: 300;
  font-size: $fz-main;
  line-height: 1.2;
  font-family: $ff-main;
  text-align: center;
  color: $c-accent;
}

.complex__text {
  max-width: 790px;
  margin: 0 auto;

  font-weight: 300;
  font-size: $fz-secondary;
  line-height: 1.2;
  font-family: $ff-main;
  text-align: justify;
  color: $c-main;
}
