.nav__list {
  display: flex;
}

.nav__item {
  &:not(:last-child) {
    margin-right: 23px;
  }
}

.nav__link {
  font-weight: 900;
  font-size: 16px;
  font-family: $ff-main;
  color: $c-main;

  transition: .3s;

  &:hover {
    color: $c-accent;
    text-decoration: none;
  }
}
