// ////////////////////////////////////////// Roboto
@font-face {
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;

  font-display: swap;
  src: url(../font/Roboto/Roboto-Regular.woff2),
  url(../font/Roboto/Roboto-Regular.woff);
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  font-style: normal;

  font-display: swap;
  src: url(../font/Roboto/Roboto-Bold.woff2),
  url(../font/Roboto/Roboto-Bold.woff);
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  font-style: italic;

  font-display: swap;
  src: url(../font/Roboto/Roboto-BoldItalic.woff2),
  url(../font/Roboto/Roboto-BoldItalic.woff);
}
