// ////////////////////////////////////////// Gilroy
@font-face {
  font-weight: 300;
  font-family: Gilroy;
  font-style: normal;

  font-display: swap;
  src: url(../font/Gilroy/Gilroy-Light.woff2),
  url(../font/Gilroy/Gilroy-Light.woff);
}

@font-face {
  font-weight: 900;
  font-family: Gilroy;
  font-style: normal;

  font-display: swap;
  src: url(../font/Gilroy/Gilroy-ExtraBold.woff2),
  url(../font/Gilroy/Gilroy-ExtraBold.woff);
}
