body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;

  font-size: $fz-main;
  font-family: $ff-main;
  color: $c-main;
  // overflow-x: hidden;
}

.main {
  flex-grow: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// input auto-complete change color
:-webkit-autofill {
  box-shadow: 0 0 100px #fff inset;

  -webkit-text-fill-color: currentColor;
}
